<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All project</title>
</head>

<body>
    <h1>Project list</h1>

    <table border="1">
        <tr>
            <th>Name of project</th>
            <th>Delivery date</th>
            <th>Creation date</th>
            <th>Status</th>
            <th>Responsible</th>
            <th>Show more</th>
        </tr>
        {% for project in allProject %}
        <tr>
            <td>
                {{ project.title }} - {{ project.id }}
            </td>
            <td>
                {{ project.deliveryDate }}
            </td>
            <td>
                {{ project.creationDate }}
            </td>
            <td>
                {{ project.status }}
            </td>
            <td>
                {{ project.responsible }}
            </td>
            <td>
                <a href="/project/get/{{project.id}}">See this project</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br /><br />

    <a href="/project/new">
        <button>Add a project</button>
    </a>
</body>

</html>