<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project home</title>
</head>

<body>
    <h1>Project home</h1>

    <br /><br />
    <a href="/project/all">
        <button>See all project</button>
    </a>
    <br /><br />
    <a href="/project/new">
        <button>Add a project</button>
    </a>
    <!-- <br /><br />
    <a href="/project/delete">
        <button>Delete a project</button>
    </a>
    <br /><br />
    <a href="/project/update">
        <button>Update a project</button>
    </a> -->
</body>

</html>