<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project {{ project.title }}</title>
</head>

<body>
    <h1>Project {{ project.title }}</h1>

    <b>Name of project </b> : {{ project.title }}
    <br />
    <b>Delivery date </b> : {{ project.deliveryDate }}
    <br />
    <b>Creation date </b> : {{ project.creationDate }}
    <br />
    <b>Status </b> : {{ project.status }}
    <br />
    <b>Responsible </b> : {{ project.responsible }}
    <br />

    <h2>List of task for {{ project.title }}</h2>
    <table border="1">
        <tr>

            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Estimated time</th>
            <th>Start date</th>
            <th>Priority</th>
            <th>Responsible</th>
        </tr>
        {% for task in allTasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.estimatedTime }}</td>
            <td>{{ task.startDate }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.responsible }}</td>
        </tr>
        {% endfor %}
    </table>

    <br /> <br />
    <a href="/project/new">
        <button>Add a project</button>
    </a>
    <br /> <br />
    <a href="/project/new">
        <button>Add a task</button>
    </a>
    <br /><br />
    <a href="/project/all">
        <button>Show all project</button>
    </a>
    <br /><br />
    <a href="/project/delete/{{ project.id }}">
        <button>Delete this project</button>
    </a>
</body>

</html>